<nav>
  <ul>
    <li>
      <a [routerLink]="['']" [class.activated]="currentUrl == '/'" class="">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/posts']" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
  </ul>
</nav>